@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
/* line 6, ../sass/main.scss */
body {
  background-color: #EaEaEa;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Arial";
}

/* line 21, ../sass/main.scss */
#header {
  background-color: #b70101;
  padding: 20px 40px 0px 40px;
}
/* line 22, ../sass/main.scss */
#header #title {
  float: left;
  color: #f4f4f4;
}
/* line 28, ../sass/main.scss */
#header .nav-tabs {
  border-bottom: 0px;
}
/* line 30, ../sass/main.scss */
#header .nav-tabs li {
  padding: 0px 20px;
  float: right;
}
/* line 34, ../sass/main.scss */
#header .nav-tabs li:hover a, #header .nav-tabs li:active a {
  color: #b70101;
  border-radius: 10px 10px 0px 0px !important;
  background-color: #fff;
  border-bottom: 0px;
}
/* line 42, ../sass/main.scss */
#header .nav-tabs .active a {
  color: #b70101;
}
/* line 46, ../sass/main.scss */
#header a {
  color: #f4f4f4;
  font-weight: 600;
  border-radius: 10px 10px 0px 0px !important;
}

/* line 52, ../sass/main.scss */
#container {
  padding: 30px;
}
/* line 54, ../sass/main.scss */

/* line 57, ../sass/main.scss */
#container .results .items {
  margin: 20px 0px;
  height: 500px;
  overflow-y: scroll;
}
/* line 61, ../sass/main.scss */
#container .results .items .row {
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
}

/* line 68, ../sass/main.scss */
select {
  width: 150px;
}
.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}
.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 20px auto;
}

/* Carousel part of the CSS */

table {
  font-size: 1em;
}
columnA {
  float: left;
  width: 20%;
}
.carousel, .carousel1, .carousel2
{ 
  position: left; 
  margin: 0; 
  padding: 0;
  border-top-width: 130px;
  height: 100px;
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}
.carousel li, .carousel1 li, .carousel2 li 
{ 
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: 16px;
  float: left; 
  cursor: pointer; 
  cursor: hand; 
  list-style: none; 
  margin: 0; 
  padding: 10; 
  width: 120px; 
  height: 80px;
   
}

#carousel .cell
{ 
  background-color: #00B8E6;
  padding:20px;
  color:#222;
  border-radius: 10px !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 600 !important;
  border: 2px solid #CCC;
  border-spacing: 3px;

}
#carousel1 .cell
{ 
  background-color: #E68282;
  padding:20px;
  color:#222;
  border-radius: 10px !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 600 !important;
  border: 2px solid #CCC;
  border-spacing: 3px;
}
#carousel2 .cell
{ 
  background-color: #4DB84D;
  padding:20px;
  color:#222;
  border-radius: 10px !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 600 !important;
  border: 2px solid #CCC;
  border-spacing: 3px;
}
.title{
  background-color :#00aadd;
  color: white;
  font-family: 'Lato', sans-serif !important;
}
.divider
{
  height:10px;
}
.h1
{
  text-align: center;
}
#triangle-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 38px solid red;
  position:absolute;
  left: 385px;
  z-index: 1;
  bottom: 185px;

}



