@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
/* line 6, ../sass/main.scss */
body {
  /*background-image: url("../img/bg1.jpg");*/
  background-color: #E7D9C1;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
}

/* line 21, ../sass/main.scss */
#header {
  background-color: #b70101;
  padding: 20px 40px 0px 40px;
}
/* line 22, ../sass/main.scss */
#header #title {
  float: left;
  color: #f4f4f4;
}
/* line 28, ../sass/main.scss */
#header .nav-tabs {
  border-bottom: 0px;
}
/* line 30, ../sass/main.scss */
#header .nav-tabs li {
  padding: 0px 10px;
  float: right;
}
/* line 34, ../sass/main.scss */
#header .nav-tabs li:hover a, #header .nav-tabs li:active a {
  color: #b70101;
  border-radius: 10px 10px 0px 0px !important;
  background-color: #fff;
  border-bottom: 0px;
}
/* line 42, ../sass/main.scss */
#header .nav-tabs .active a {
  color: #b70101;
}
/* line 46, ../sass/main.scss */
#header a {
  color: #f4f4f4;
  font-weight: 600;
  border-radius: 10px 10px 0px 0px !important;
}

/* line 52, ../sass/main.scss */
#container {
  padding: 50px;
}
/* line 54, ../sass/main.scss */
#container .results {
  border: 4px solid #B70101;
  border-radius: 10px;
}
/* line 57, ../sass/main.scss */
#container .results .items {
  margin: 20px 0px;
  height: 500px;
  overflow-y: scroll;
}
/* line 61, ../sass/main.scss */
#container .results .items .row {
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
}

/* line 68, ../sass/main.scss */
select {
  width: 150px;
}
